<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thread_hook_flipper">

    <application>
        <provider
            android:exported="false"
            android:authorities="${applicationId}.thread-watcher-init"
            android:name=".ThreadWatcherInstaller" />
    </application>
</manifest>